appdirs==1.4.4
asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.1
certifi==2020.6.20
chardet==3.0.4
configparser==4.0.2
confusable-homoglyphs==3.2.0
contextlib2==0.6.0.post1
cryptography==2.1.4
distlib==0.3.1
dj-database-url==0.5.0
Django==1.11.29
django-bootstrap==0.2.4
django-bootstrap3==12.1.0
django-bootstrap4==0.0.6
django-crispy-forms==1.9.0
django-decouple==2.1
django-filebrowser==3.9.2
django-filter==2.0.0
django-grappelli==2.10.4
django-heroku==0.3.1
django-registration==2.4.1
django-tinymce==3.1.0
django-tinymce-4==0.0.24
django-url-or-relative-url-field==0.1.1
djangorestframework==3.9.4
enum34==1.1.6
filelock==3.0.12
gunicorn==19.10.0
gyp==0.1
heroku==0.1.4
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.1.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
pathlib2==2.3.5
Pillow==6.2.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycrypto==2.6.1
pygobject==3.26.1
python-dateutil==2.7.3
python-decouple==3.3
pytz==2020.1
pyuploadcare==2.5.0
pyxdg==0.25
requests==2.24.0
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
soupsieve==1.9.5
typing==3.7.4.3
urllib3==1.25.11
virtualenv==20.0.35
whitenoise==3.3.1
zipp==1.2.0
