{% extends 'all-posts/base.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3 class="text-center neighbourhoodtitle">neighbourhood: {{neighbourhood.name}}</h3>
            <img src="{{neighbourhood.pic.url}}" alt="" class="img-rounded-circle"
                style="border-radius: 50%; width:100px; height:100px; border-color: brown; border-width: 1px;">
        </div>
        <div class="col-sm-12 col-md-4 ">
            <h2 class="text-center subtitle">Businesses</h2>
            
                {% for business in business %}
                <div class="panel">
                <div class="panel-header">
                   <b><h4>{{business.name}}</h4></b>
                    <small><p>owned by: {{business.owner}}</p></small>
                </div>
                <hr>
            </div>
                {% endfor %}
           
        </div>
        <div class="col-sm-12 col-md-4 neighbourhoodtitle">
            <h4>ambulance :{{neighbourhood.health_contacts}}</h4>
            <h4>
                <p>police : {{neighbourhood.police_contacts}}</p>
            </h4>


        </div>
    </div>
    <div class="row">
      
        <div class="col-sm-12 col-md-7">
            <h3 class="text-center subtitle">Neighbourhood Posts</h3>
            <hr>
            
            {% for post in post %}
            <div class="panel">
                <div class="panel-header">
                   <b><h4>{{post.title}}</h4></b>
                    <small><p>posted by: {{post.user.username}}</p></small>
                </div>
                <div>
                    <p>{{post.post | truncatechars:'100'}}</p>
                </div>
                <hr>
                <div>
                
                    <div class="text-muted"> {{post.date_posted}}</div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-3"></div>
    </div>
</div>
{% endblock %}